* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* BACKGROUND IMAGE */
.bg-img {
  background-image: url(/static/images/pexels-charlotte-may-5825595.jpg);
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}
/* PROJECT NAME */
.main-heading {
  font-family: "Source Code Pro", monospace;
  font-size: 80px;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  color: rgb(250, 250, 250);
}
/* RESET PASS HEADING */
.heading {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  width: 400px;
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid black;
}
/* RESET PASS BOX */
.box {
  width: 450px;
  height: 420px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-left: 500px;
  margin-top: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
  border-radius: 10px;
}
b {
  font-size: 18px;
}
.input {
  width: 300px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
::placeholder {
  color: black;
}
/* SAVE BUTTON */
button {
  width: 300px;
  height: 34px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 20px;
  background: rgb(250, 250, 250);
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
button:hover {
  background: black;
  color: rgb(250, 250, 250);
}
