<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/icons/css/all.min.css">
    <link rel="stylesheet" href="/static/console.css">
</head>
<body>
    <div class="bg-img">
        <div class="overlay"></div>
    </div>
        <div class="main-heading">
            <h1>DWEB</h1>
        </div>

        <div class="new-button">
            <form action="{{ url_for('project') }}">
            <button   type="submit"><i class="fas fa-plus"></i>New Project</button>
            </form>
        </div>
        <table>
            <tr>
                <th>Project Name</th>
                <th>OS</th>
                <th>Status</th>
                <th>State</th>
                <th>Terminate</th>
                <th>View</th>
                <th>Port</th>
            </tr>
	    {% if c_list|length > 1 %}	    
{% for c in c_list[1:] %}
  {% if "Up" in c %}
    {% set cstatus = "running" %}
    the container is running
  {% elif "Exited" in c %}
    {% set cstatus = "stopped" %}
    the container is stopped
  {% else %}
    {% set cstatus = "unknown" %}
    unknown status
  {% endif %}


  {% set c_details  =  c.split() %}
  {% set cname =  c_details[-1] %}
  {% set pname =  c_details[-1].split('-')[1] %}
  {% if cstatus != "stopped" %}
  {% set temp =  c_details[-2].split('->')[0] %}
  {% set port = temp.split(":")[1] %}
  {% set temp1 =  c_details[-3].split('->')[0] %}
  {% set view = temp1.split(":")[1] %}
  {% endif %}
  {% set imagename = c_details[1].split('-')[1] %}

<tr>
<td>{{ pname }}</td>
<td>{{ imagename }}</td>
<td>{{ cstatus }}</td>
{% if cstatus != "stopped" %}
<td><a href="/stop/{{ cname }}">Stop</a></td>
{% else %}
<td><a href="/start/{{ cname }}">Start</a></td>
{% endif %}
<td><a href="/terminate/{{ cname }}">Terminate</a></td>
{% if cstatus != "stopped" %}
<td><a target="_blank" href='http://54.209.141.205:{{ view }}'>View</a></td>
{% else %}
<td><a>View</a></td>
{% endif %}
{% if cstatus != "stopped" %}
<td><a target="_blank" href='http://54.209.141.205:{{ port }}'>Console</a></td>
{% else %}
<td><a>Console</a></td>
{% endif %}
</tr>
{% endfor %}
{% endif %}
</table>
<div class="logout-button">
            <form action="/logout">
                <button type="submit"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </form>
        </div>

</body>
</html>
